@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	font-family: "JetBrains Mono", monospace;
	color: #fff;
	background: url("static.gif"), #000;
}

a {
	color: #fff;
}

.hero {
	width: 100vw;
	height: 100vh;
	background-image: url("hero.jpg");
	background-size: cover;
	background-position: top right;
}

.hero .box {
	padding: 50px 60px;
}

.hero h1 {
	font-size: 100px;
	font-weight: 200;
	margin: 0px;
	padding: 0px;
}

.hero a {
	font-size: 32px;
}

.hero * {
	background-color: #000;
	width: fit-content;
}

#gallery {
	display: flex;
	flex-flow: row nowrap;
}

.stack {
	display: flex;
	flex-flow: column nowrap;
}

#stack1 {
	width: 50%;
}

#stack2, #stack3 {
	width: 25%;
}

.stack img {
	width: 100%;
}

.infobox {
	margin: 0px;
	padding: 1.5in 2in;
	background-color: #000;
}

.infobox h1 {
	font-size: 64pt;
	font-weight: 200;
	margin: 0px;
}

.infobox div {
	padding-top: 0.5in;
	font-size: 16pt;
}

.stack h1 {
	font-size: 64pt;
	font-weight: 200;
	margin: 0px;
	padding: 40px;
	background-color: #000;
}

.pronouns {
	opacity: 0.6;
}