@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	font-family: "JetBrains Mono", monospace;
	color: #fff;
	background: url("static.gif"), #000;
}

a {
	color: #fff;
}

.hero {
	width: 100vw;
	height: 100vh;
	background-image: url("hero.jpg");
	background-size: cover;
	background-position: top right;
}

.hero .box {
	padding: 50px 60px;
}

.hero h1 {
	font-size: 100px;
	font-weight: 200;
	margin: 0px;
	padding: 0px;
}

.hero a {
	font-size: 32px;
}

.hero * {
	background-color: #000;
	width: fit-content;
}

.bar {
	width: 100vw;
	height: 1.5in;
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	column-gap: 0.5in;
	padding-left: 1in;
	background-color: #000;
}

.bar h1 {
	font-size: 32px;
	font-weight: 200;
	margin: 0px;
	padding: 0px;
}

.bar a {
	font-size: 18px;
}

#gallery {
	display: flex;
	flex-flow: row nowrap;
}

#gallery-window {
	display: flex;
	flex-flow: row nowrap;
	width: 100vw;
	margin: 0in -2in;
	margin-bottom: -1.5in;
}

.gallery-page {
	width: calc(100vw / 3);
	min-height: calc(100vw / 3);
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: 100%;
	font-size: 16pt;
	transition: background-size 0.05s;
}

.gallery-page:hover {
	background-size: 102%;
}


#gp1 {
	background-image: url("bg_live.jpg");
}

#gp2 {
	background-image: url("bg_gallery.jpg");
}

#gp3 {
	background-image: url("bg_experimental.jpg");
}


.stack {
	display: flex;
	flex-flow: column nowrap;
}

#stack1 {
	width: 50%;
}

#stack2, #stack3 {
	width: 25%;
}

.stack img {
	width: 100%;
}

.infobox {
	margin: 0px;
	padding: 1.5in 2in;
}

.infoblk {
	background-color: #000;
}

.infogrey {
	background-color: #111;
}


.infobox h1 {
	font-size: 64pt;
	font-weight: 200;
	margin: 0px;
}

.infobox div {
	padding-top: 0.5in;
	font-size: 16pt;
}

.stack h1 {
	font-size: 64pt;
	font-weight: 200;
	margin: 0px;
	padding: 40px;
	background-color: #000;
}

.pronouns {
	opacity: 0.6;
}

.copyright {
	margin: 0px;
	padding: 1.5in 2in;
	background-color: none;
}

.copyright div {
	color: #fff;
	opacity: 0.8;
	text-align: center;
	font-size: 14pt;
}

#email {
	font-weight: 900;
	font-style: italic;
}