* {
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	background-color: #000;
}

.hero {
	width: 100vw;
	height: 100vh;
	background-image: url("hero.jpg");
	background-size: cover;
	background-position: top right;
}

.hero h1 {
	font-size: 144px;
	margin: 0px;
	padding: 0px;
}

.hero a {
	font-size: 32px;
	display: block;
}

.hero * {
	background-color: #000;
	width: fit-content;
}

#gallery {
	display: flex;
	flex-flow: row nowrap;
}

.stack {
	width: calc(100% / 3);
	display: flex;
	flex-flow: column nowrap;
}

.stack img {
	width: 100%;
}

.stack h1 {
	font-size: 64pt;
	margin: 0px;
	padding: 0px;
}