body {
	padding: 1in;
}

.title {
	font-size: 36pt;
	font-weight: 500;
}

@media only screen and (max-width: 550px) {
	body {
		padding: 0.5in;
	}

	.heroBox {
		flex-flow: column nowrap;
	}

	.heroBox .left {
		width: 100% !important;
		text-align: center;
	}

	.heroBox .right {
		margin-left: 0px !important;
		margin-top: 1in;
		width: 60% !important;
	}

	hr {
		margin: 0.25in auto !important;
	}
}