* {
	box-sizing: border-box;
}

/* INTERFACE ELEMENTS */

.infoBox {
	font-family: 'Zero Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 11pt;
}

.infoTitle {
	font-weight: 700;
}

.infoTitle:not(:first-child) {
	border-left: 1px solid currentColor;
	padding-left: 10px;
}

.sliderContainer {
	display: inline-block;
	width: fit-content;
	height: fit-content;
}

.sliderContainer>*,
.selectorContainer,
.infoTitle {
	vertical-align: middle;
	margin-right: 10px;
}

.sliderContainer>input[type="number"] {
	width: 50px;
	appearance: none;
	background-color: inherit;
	color: currentColor;
	border: none;
	border-bottom: 1px solid currentColor;
	font-family: inherit;
	font-size: 11pt;
	height: 25px;
}

input::-webkit-inner-spin-button,
input[type="range"] {
	appearance: none;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	color: currentColor;
	background-color: inherit;
	height: 15px;
}

input[type="range"]::-webkit-slider-runnable-track {
	height: 2px;
	background-color: currentColor;
	box-sizing: border-box;
	vertical-align: middle;
}

input[type="range"]::-webkit-slider-thumb {
	box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background-color: var(--accent);
	border: 1px solid var(--background);
	border-radius: 50%;
	cursor: pointer;
	vertical-align: middle;
	transform: translateY(-6.5px);
}

input[type="range"]::-webkit-slider-thumb:hover {
	background-color: var(--background);
	border: 1px solid var(--accent);
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background-color: var(--accent);
	border: 1px solid var(--background);
	border-radius: 15px;
	cursor: pointer;
	vertical-align: middle;
	transform: translateY(-50%);
}

input[type="range"]::-moz-range-thumb:hover {
	background-color: var(--background);
	border: 1px solid var(--accent);
}

input[type="checkbox"] {
	appearance: none;
	display: none;
}

.toggleContainer span:has(input[type="checkbox"]) {
	display: inline-block;
	border-radius: 3px;
	padding: 0px 5px;
	margin-left: -5px;
	margin-right: 8px;
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
}

.toggleContainer span:has(input[type="checkbox"]):hover {
	background-color: rgb(from currentColor r g b / 0.2);
}

.toggleContainer span:has(input[type="checkbox"]:checked) {
	background-color: rgb(from currentColor r g b / 0.3);
}

.selectorContainer select {
	display: inline-block;
	appearance: none;
	background-color: inherit;
	color: currentColor;
	border-radius: 0px;
	border: none;
	padding-right: 15px;
	font-family: inherit;
	font-size: inherit;
	height: 25px;
}

.selectorContainer {
	display: inline-block;
	border: none;
	border-bottom: 1px solid currentColor;
	padding: 0px 5px;
	height: 25px;
}

.selectorContainer::after {
	content: "\2B19";
	margin-left: -10px;
	pointer-events: none;
}

/* REPERTOIRE */

.repertoireContainer {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.repertoireGrid {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.repertoireGrid .charsetName {
	width: 100%;
	font-weight: 600;
	margin-top: 1em;
	padding-bottom: 0.2em;
	margin-bottom: 0.5em;
	margin-right: 20px;
	border-bottom: 1px solid currentColor;
}

.repertoireGrid .charCell {
	/*display: block;*/
	flex-grow: 0;
	flex-shrink: 0;
	width: 1.3lh;
	height: 1.3lh;
	padding: 0.15lh;
	background-color: rgb(from currentColor r g b / 0.0);
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
}

.repertoireGrid .charCell:hover {
	background-color: rgb(from currentColor r g b / 0.1);
}

.repertoireGrid .charCell.selected {
	background-color: rgb(from currentColor r g b / 0.15);
}

.repertoireInfo {
	width: 100%;
	border-left: 1px solid currentColor;
}

.repertoireGlyph {
	font-size: 480px;
	width: 1lh;
	height: 1lh;
	text-align: center;
	position: sticky;
	top: 0;
}

.repertoireGlyph > span {
	display: inline-block;
	width: 1lh;
	text-align: center;
}

.repertoireGlyph > span::before, .repertoireGlyph > span::after {
	content: "";
	display: inline-block;
	height: 15px;
	border-right: 1px solid rgb(from currentColor r g b / 0.3);
	transform: translateY(5px);
}

.repertoireGlyph > div.metric {
	display: inline-block;
	width: 1lh;
	margin-left: -1lh;
	border-top: 1px solid rgb(from currentColor r g b / 0.3);
}

.repertoireGlyph > div.metric > span {
	display: block;
	font-family: 'Zero Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 12px;
	height: 0px;
	margin-top: -1em;
	text-align: left;
	margin-left: 20px;
	transform: translateY(-5px);
	color: rgb(from currentColor r g b / 0.4);
	font-variation-settings: "opsz" 12 !important;
}

/* TESTBED */

.testbedContainer {
	border-bottom: 1px solid currentColor;
	margin-bottom: 20px;
}

.testbedContainer .textBox {
	column-gap: 15px;
	text-align: justify;
	margin: 15px 0px;
}