@font-face {
	font-family: 'Amarna';
	src: url('Amarna.woff2') format('woff2-variations');
	font-style: normal;
	font-weight: 100 700;
	font-display: swap;
}

@font-face {
	font-family: 'Amarna';
	src: url('Amarna.woff2') format('woff2-variations');
	font-style: italic;
	font-weight: 100 700;
	font-display: swap;
}

@font-face {
	font-family: 'Anvers';
	src: url('Anvers.woff2') format('woff2-variations');
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
}

@font-face {
	font-family: 'Edifice Proof';
	src: url('EdificeProof.woff2') format('woff2-variations');
	font-style: normal;
	font-weight: 400 700;
	font-display: swap;
}

@font-face {
	font-family: 'Vizor';
	src: url('Vizor.woff2') format('woff2-variations');
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
}

@font-face {
	font-family: 'Zero Sans';
	src: url('ZeroSans.woff2') format('woff2-variations');
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: 'Zero Sans';
	src: url('ZeroSans-Italic.woff2') format('woff2-variations');
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
}